name: Deploy to Linux Server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Update backend on server
        shell: bash
        run: |
          cd /var/www/StJohn-WebApp/backend

          echo "Pulling latest code .."
          git pull origin master

          echo "Installing dependencies"
          npm install
